.big_card_container{
  /* border: solid white 2px; */
  width: 420px;
  height: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content:flex-start;
  margin: 0px 40px 0px 40px;
}

.big-card_image > img {
  width: 100%;
}
.big-card_author > p{
  font-size: 13px;
  font-weight: 200;
  color: gray;
  margin-top: 15px;
}


.big-card_title > h1{
  color: #ffffff;
  font-size: 28px;
  margin-top: 10px;
}
.big-card_content{
  margin: 10px 0px 0px 0px;
}
.big-card_content > p > a {
  color: gray;
  font-size: 16px;
}
