<div class="big_card_container">
    <div class="big-card_image">
      <img
       src="https://media.vogue.co.uk/photos/5d54937892559a000839ef3d/16:9/w_1280,c_limit/original"
       alt="Bruce Wayne"
       height="250px"
       >
    </div>

    <div class="big-card_author">
      <p>By: Carrey Lang</p>
    </div>

    <div class="big-card_title">
      <h1><a href="#">Wayne Foundation brings new hope</a></h1>
    </div>

    <div class="big-card_content">
      <p><a href="#">
        Eight years ago Gotham City was titled "America's worst city, next to Detroit". And with good reason.
        The crime rate was off the charts, and according to the Gotham City Police Department, Gotham was within
        the top ten most dangerous cities in America.</a>
      </p>
    </div>
</div>
